build/
imgui.ini
settings.ini
.vscode/
CMakeSettings.json
out/
.vs/

**/bin/
bin-int/

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

imgui.ini
CMakeCache.txt
CmakeFiles/
build.ninja
.ninja_deps
.ninja_logs

**.cmake
